
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow-lg {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@font-face {
  font-family: 'MotterCorpus';
  src: url('./assets/fonts/MotterCorpus.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ITC Motter Corpus';
  src: url('/fonts/ITCMotterCorpus.ttf') format('truetype'); /* ajuste o caminho */
  font-weight: bold;
  font-style: normal;
}